<!-- Reusable form component template -->
<form class="flex h-full flex-col" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="flex items-center justify-between border-b pb-4">
    <h2 class="text-2xl font-bold">
      {{ heading || (isEditMode ? 'Edit PettyCashLedger' : 'New PettyCashLedger') }}
    </h2>
    <mat-icon *ngIf="isSaving" class="animate-spin">autorenew</mat-icon>
  </div>

  <div class="flex-auto space-y-4 overflow-y-auto pt-6">
    
      
    <mat-form-field class="w-full">
      <mat-label>BranchCode</mat-label>
      <input matInput formControlName="branchCode" >
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>PettyCashCode</mat-label>
      <input matInput formControlName="pettyCashCode" >
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="pickerdate" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="pickerdate"></mat-datepicker-toggle>
      <mat-datepicker #pickerdate></mat-datepicker>
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>PettyCashVoucherNo</mat-label>
      <input matInput formControlName="pettyCashVoucherNo" >
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" >
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>CashIn</mat-label>
      <input matInput formControlName="cashIn" >
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>CashOut</mat-label>
      <input matInput formControlName="cashOut" >
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>RunningBalance</mat-label>
      <input matInput formControlName="runningBalance" >
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>LinkedAccountCode</mat-label>
      <input matInput formControlName="linkedAccountCode" >
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>ReferenceNo</mat-label>
      <input matInput formControlName="referenceNo" >
    </mat-form-field></div>

  <div *ngIf="errorMessage" class="mt-2 rounded bg-warn-100 px-4 py-2 text-warn-900">
    {{ errorMessage }}
  </div>

  <div class="mt-6 flex items-center justify-end border-t pt-6">
    <button type="button" mat-button (click)="onCancel()">Cancel</button>
    <button type="submit" mat-flat-button color="primary" class="ml-3" [disabled]="form.invalid || isSaving">
      <span *ngIf="!isSaving">Save</span>
      <span *ngIf="isSaving">Saving…</span>
    </button>
  </div>
</form>

