<!-- Reusable form component template -->
<form class="flex h-full flex-col" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="flex items-center justify-between border-b pb-4">
    <h2 class="text-2xl font-bold">
      {{ heading || (isEditMode ? 'Edit BudgetPlan' : 'New BudgetPlan') }}
    </h2>
    <mat-icon *ngIf="isSaving" class="animate-spin">autorenew</mat-icon>
  </div>

  <div class="flex-auto space-y-4 overflow-y-auto pt-6">
    
      
    <mat-form-field class="w-full">
      <mat-label>BranchCode</mat-label>
      <input matInput formControlName="branchCode" >
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>AccountCode</mat-label>
      <input matInput formControlName="accountCode" >
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>BudgetPlanCode</mat-label>
      <input matInput formControlName="budgetPlanCode" >
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>DepartmentName</mat-label>
      <input matInput formControlName="departmentName" >
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>Year</mat-label>
      <input matInput formControlName="year" >
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>AllocatedAmount</mat-label>
      <input matInput formControlName="allocatedAmount" >
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>SpentAmount</mat-label>
      <input matInput formControlName="spentAmount" >
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>RemainingAmount</mat-label>
      <input matInput formControlName="remainingAmount" >
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>UsedPercentage</mat-label>
      <input matInput formControlName="usedPercentage" >
    </mat-form-field>
      
    
      
    <mat-form-field class="w-full">
      <mat-label>AlertStatus</mat-label>
      <mat-select formControlName="alertStatus">
        <mat-option *ngFor="let option of budgetAlertStatusOptions" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field></div>

  <div *ngIf="errorMessage" class="mt-2 rounded bg-warn-100 px-4 py-2 text-warn-900">
    {{ errorMessage }}
  </div>

  <div class="mt-6 flex items-center justify-end border-t pt-6">
    <button type="button" mat-button (click)="onCancel()">Cancel</button>
    <button type="submit" mat-flat-button color="primary" class="ml-3" [disabled]="form.invalid || isSaving">
      <span *ngIf="!isSaving">Save</span>
      <span *ngIf="isSaving">Saving…</span>
    </button>
  </div>
</form>

